$size: 400px;

$sky: #69c3fb;
$horizon: white;
$earth: #99bd90;

.cubemap {
  transform: translate3d(-50%, -50%, (-$size/2)) rotateX(-90deg) scale3d(100, 100, 100);
  transform-origin: center center ($size/2);
  width: $size;
  height: $size;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.cubemap__face {
  background-repeat: no-repeat;
  position: absolute;
  width: $size;
  height: $size;
  transform: translateX(99.9%) rotateY(-90deg);
  transform-origin: left;
  backface-visibility: hidden;
}
.cubemap__face--side {
  background-image:
    radial-gradient(289% 220% at 50% -25%, $sky 0%, $sky 34%, $horizon 100%), // Sky
    linear-gradient(to top, $earth, $earth); // Earth
  background-position: left top, left bottom;
  background-size: 100% 50%;
}
.cubemap__face--top {
  background-image: radial-gradient(40% 40%, darken($sky, 5%), $sky);
  transform: translateY(-99.9%) rotateX(-90deg);
  transform-origin: bottom;
}
.cubemap__face--bottom {
  background-color: $earth;
  transform: translateY(99.9%) rotateX(90deg);
  transform-origin: top;
}
