body {
  background-color: black;
  cursor: -webkit-grab;
}
body:active {
  cursor: -webkit-grabbing;
}

.general {
  position: relative;
  perspective: 800px;
  width: 100vw;
  height: 100vh;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  overflow: hidden;

  * {
    transform-style: preserve-3d;
    box-sizing: content-box;
  }
}

// Intro
body:after {
  content: "";
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.init:after {
  transition: 0.3s 0s opacity, 0s 0.3s right;
  opacity: 0;
  right: 100%;
}
