.dg .property-name {
  width: 100px !important;
}
.dg .c {
  width: calc(100% - 100px) !important;
}
.dg .has-slider input[type="text"] {
  width: 15% !important;
}
.dg .slider {
  width: 85% !important;
}
