.info {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  letter-spacing: 0px;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  color: white;
}

.info__title {
  font-size: 18px;
  margin-bottom: 20px;
}

.info__description {
  font-size: 14px;
  margin-bottom: 5px;
}
.info__key {
  display: inline-block;
  border-radius: 4px;
  padding: 3px 8px 2px;
  background: white;
  font-size: 80%;
  color: black;
}
