/* Axis
* Represents transform-origin
*/
.axis {
  width: 0px;
  height: 0px;
  background: black;
  transform: translate3d(0%, 0%, -51px);
  position: absolute;
  top: 50%;
  left: 50%;
}

.axis {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100px;
  width: 3px;
  pointer-events: none;
  transform-origin: top;
}

/* Negative Axis */
.axis:after {
  content: '';
  position: absolute;
  opacity: 0.1;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  transform: rotate(180deg);
}

/* Diagonal Axis */
.axis--test-container {
  position: relative;
  transform: rotateZ(-45deg);
}

.axis--test {
  position: absolute;
  opacity: 1;
  background: yellow;
  height: 400px;
  width: 3px;
  left: 0;
  bottom: 0;
  transform-origin: left top;
  transform: rotatex(45deg);
}

/* Perpendicular Axis */
.axis--perpendicular {
  transform: rotateY(90deg);
}

/* X Axis */
.axis--x {
  transform: rotateZ(-90deg);
}

.axis--x,
.axis--x:after,
.axis--x .axis--perpendicular,
.axis--x .axis--perpendicular:after {
  background: linear-gradient(#ff0000, rgba(0, 0, 0, 0));
  /* Red */
}

/* Y Axis */
.axis--y,
.axis--y:after,
.axis--y .axis--perpendicular,
.axis--y .axis--perpendicular:after {
  background: linear-gradient(#008000, rgba(0, 0, 0, 0));
  /* Green */
}

/* Z Axis */
.axis--z {
  transform: rotateX(90deg);
}

.axis--z,
.axis--z:after,
.axis--z .axis--perpendicular,
.axis--z .axis--perpendicular:after {
  background: linear-gradient(#0000ff, rgba(0, 0, 0, 0));
  /* Blue */
}
